---
export const isBandcampURL = (url: URL): boolean => {
  return /^https?:\/\/([a-z0-9-]+\.)?bandcamp\.com\/album\/[a-zA-Z0-9-]+/.test(url.toString())
}

export interface Props {
  url: string
}

const { url } = Astro.props

const isTrack = url.includes('/track='); 

const iframeProps = { 
  src: `${url}`,
  height: isTrack ? '120px' : '400px',
};
---

<iframe
  {...iframeProps} 
  seamless
  style={{
    border: '0',
    width: '100%',
  }}
>
  <a href={url}>{url}</a>
</iframe>