---
import { RichText } from '../../../lib/interfaces.ts'

export interface Props {
  richText: RichText
}

const { richText } = Astro.props
---

{
  /* prettier-ignore */
  richText.Href ? (
    <a href={richText.Href}><slot /></a>
  ) : (
    <slot />
  )
}

<style>
  a {
  text-decoration: underline;
  box-shadow: inset 0 0 0 0 #5ca053;
  color: var(--fg);
	padding: 0 .25rem;
	margin: 0 -.25rem;
  transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

a:hover {
  color: var(--fg);
  box-shadow: inset 500px 0 0 0 #5ca053;
}
</style>
