---
import { RichText } from '../../../lib/interfaces.ts'

export interface Props {
  richText: RichText
}

const { richText } = Astro.props
---

{
  /* prettier-ignore */
  richText.Href ? (
    <a href={richText.Href}><slot /></a>
  ) : (
    <slot />
  )
}

<style>
  a {
  text-decoration: underline;
  color: var(--fg);
}

a:hover {
  color:var(--accents-1);
  transition: .5s;
}
</style>
